<span class="text">Укажите параметры подключения к БД</span>
<ng-container
  *ngTemplateOutlet="
    formTemplate;
    context: {
      form: graphForm,
      title: 'АРМ Графический редактор',
      users: editUsers
    }
  "
></ng-container>

<ng-container
  *ngTemplateOutlet="
    formTemplate;
    context: {
      form: dispForm,
      title: 'АРМ Диспетчер',
      users: dispUsers
    }
  "
></ng-container>
<div class="footer">
  <button class="custom-button" (click)="back()">
    <fa-icon class="button-icon fa-lg"></fa-icon>
    <span class="text">Назад</span>
  </button>
  <button class="custom-button" *ngIf="dispForm.valid" (click)="next()">
    <span class="text">Далее</span>
    <fa-icon class="ml20 fa-lg" [icon]="nextButtonIcon"></fa-icon>
  </button>
  <button class="custom-button cancel-button" routerLink="/">
    <fa-icon class="button-icon fa-lg" [icon]="closeButtonIcon"></fa-icon>
    <span class="text">Отмена</span>
  </button>
</div>

<ng-template #formTemplate let-form="form" let-title="title" let-users="users" >
  <div class="body">
    <span class="title">{{ title }}</span>
    <div [formGroup]="form">
      <div class="row">
        <span class="text">Логин</span>
        <app-select
          formControlName="login"
          [selectOptions]="users"
          placeholder="Имя пользователя"
        ></app-select>
      </div>
      <div class="row-pass">
        <span class="text">Пароль</span>
        <input formControlName="password" class="custom-input" [type]="!form.passEey ? 'password' : 'text'"  placeholder="Логин"/>
        <fa-icon class="ml20 button-icon fa-lg" [icon]="form.passEey ? eyeIcon : slashEyeIcon" (click)="form.passEey = !form.passEey" ></fa-icon>
      </div>

      <div class="row-pass">
        <span class="text">Повторите пароль</span>
        <input formControlName="confirmPassword" class="custom-input" [type]="!form.confirmPassEey ? 'password' : 'text'" placeholder="Пароль" />
        <fa-icon class="ml20 button-icon fa-lg" [icon]="form.confirmPassEey ? eyeIcon : slashEyeIcon" (click)="form.confirmPassEey = !form.confirmPassEey"></fa-icon>
      </div>
      <mat-error *ngIf="form.hasError('notSame')">
        Пароли не совпадают!
      </mat-error>
    </div>
  </div>
</ng-template>
