
.body {
  padding: 20px;
}

.form-body {
  padding: 12px 35px 12px 12px;
}

.text {
  font-size: 18px;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 160px 1fr;
  align-items: center;
}

.check-sql{
  display: flex;
  grid-gap: 20px;
}
