
.body {
  padding: 20px;
}

.form-body {
  padding: 12px 35px 12px 12px;
}

.text {
  font-size: 18px;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 160px 1fr;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.custom-button {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.button-icon {
  margin-right: 20px;
}

.new-bd-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.new-bd {
  color: #d05115;
}

.cancel-button {
  background: #d05115;
}
