<div class="form">
  <div class="header">
    <div class="title">
      <fa-icon class="box fa-2x" [icon]="boxIcon"></fa-icon>
      <span class="title-text">{{title}}</span>
    </div>
    <fa-icon class="box fa-2x" routerLink="/" [icon]="closeIcon"></fa-icon>
  </div>
  <div class="hl"></div>
  <first-step [service]="currentService" *ngIf="!secondStep" (secondStep)="goSecondStep($event)"></first-step>
  <second-step [service]="currentService" *ngIf="secondStep" (firstStep)="secondStep = !secondStep" [config]="config"></second-step>
</div>
