<div class="form">
  <div class="header">
    <div class="title">
      <fa-icon class="box fa-2x" [icon]="boxIcon"></fa-icon>
      <span class="title-text">{{title}}</span>
    </div>
    <fa-icon class="box fa-2x" routerLink="/" [icon]="closeIcon"></fa-icon>
  </div>
  <div class="hl"></div>

  <first-step [service]="currentService"  [style.display] = "firstStep ? 'flex' : 'none' " (secondStep)="goSecondStep($event)"></first-step>
  <app-scada-account-settings [style.display] = "energyStep ? 'flex' : 'none' "   (confrimForm)="scadaConfirmForm($event)"></app-scada-account-settings>
  <second-step [service]="currentService" *ngIf="secondStep" (backStep)="secondStepBack()"
               [config]="config" [energyForms]="energyForms"></second-step>
</div>
