.form {
  width: 800px;
  height: 550px;
  background: #e9e9e9;
  padding: 15px 0 15px 15px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

.box {
  color: var(--main-blue-color);
  margin-right: 10px;
}

.title-text {
  color: var(--main-blue-color);
  font-size: 24px;
}

.hl {
  margin-top: 5px;
  width: 94%;
  height: 4px;
  background: var(--main-blue-color);
}
